<html>
<head>
<base href="">
<meta charset="utf-8" />
<title>action</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="/engine/lib/jquery.min.js"></script>
<script>
      window.global = window;
    </script>
<script>


function isNeedRefresh()
{
try{
   $.get("/engine/isNeedRefreshHtml",function(data,status){
    if(data==1||data=='1')
    {

         loadHtml();
    }
    });
    }catch{
    }
}
function pageInit()
{
         loadHtml();
    setInterval(isNeedRefresh,300);
}

function loadHtml()
{
   $.get("/engine/html",function(data){
document.body.innerHTML=data;
isClickExec=false;
});
isClickExec=false;
}


var isClickExec=false;
function htmlExecTo(script)
{
if(isClickExec==true)
{
return;
}
isClickExec=true;
$.get("/engine/htmlCall?actionScript="+encodeURIComponent(script),function(result){

});

}




function Trim(str) { return str.replace(/(^\s*)|(\s*$)/g,""); }
var csGame=false;
function saveGame()
{
    if(clGame==false)
    {
       csGame=true;
     var saveFileName= document.getElementById("saveFileName").value;
     saveFileName=Trim(saveFileName);
     if(saveFileName=="")
     {
          csGame=false;
           alert("请输入文件名");
     return;
     }
$.get("/engine/GameSave?actionScript="+encodeURIComponent(saveFileName) ,function(data,result){
              csGame=false;
           if("1"==data||1==data)
           {
           alert("保存成功");
           }else
           {
           alert("保存失败");
           }
       });
   }
}
var clGame=false;
function loadGame(saveFileName)
{
    if(clGame==false)
    {
       clGame=true;
$.get("/engine/LoadGameSave?actionScript="+encodeURIComponent(saveFileName) ,function(data,result){
          clGame=false;
       if("1"==data||1==data)
              {
         alert("读取成功");
         closeSaveWindow();
          }else
            {
                  alert("读取失败");
          }
       });
   }
}

var dlGame=false;
function delGame(saveFileName)
{
    if(dlGame==false)
    {
       dlGame=true;
$.get("/engine/deleteGameSave?actionScript="+encodeURIComponent(saveFileName) ,function(data,result){
          dlGame=false;
       if("1"==data||1==data)
              {
         alert("删除成功");
          }else
            {
                  alert("删除失败");
          }
       });
   }
}
function closeSaveWindow()
{
  $.get("/engine/closeSaveWindow",function(data,status){

       });
}
</script>
</head>
<body onload="pageInit()">
</body>

</html>
