<!DOCTYPE html>
<html>
	<head>
		<title>${engineTitle} V${engineVersion} Powered By ${enginePowerBy}</title>
        <meta charset="utf-8">
        <link type="text/css" href="/engine/lib/jquery-ui.css" rel="stylesheet" />
        <script type="text/javascript" src="/engine/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/engine/lib/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/engine/lib/jquery.sizes.js"></script>
		<script type="text/javascript" src="/engine/lib/jlayout.border.js"></script>
		<script type="text/javascript" src="/engine/lib/jlayout.grid.js"></script>
		<script type="text/javascript" src="/engine/lib/jlayout.flexgrid.js"></script>
		<script type="text/javascript" src="/engine/lib/jlayout.flow.js"></script>
		<script type="text/javascript" src="/engine/lib/jquery.jlayout.js"></script>
		<script type="text/javascript" src="/engine/lib/index/js/jlayout.js"></script>
        <link type="text/css" href="/engine/lib/index/css/index.css?v=20220613" rel="stylesheet" />
		<script>
var csGame=false;
function quickSaveGame()
{
    if(clGame==false)
    {
       csGame=true;
       $.get("/engine/save/QuickSave",function(data,status){
              csGame=false;
           if("1"==data||1==data)
           {
           alert("quick save success");
           }else
           {
           alert("quick save error");
           }
       });
   }
}
var clGame=false;
function quickLoadGame()
{
    if(clGame==false)
    {
       clGame=true;
       $.get("/engine/save/loadQuickSave",function(data,status){
          clGame=false;
       if("1"==data||1==data)
              {
         alert("load QuickSave success");
          }else
            {
                  alert("load QuickSave error");
          }
       });
   }
}


function showSaveWindow()
{
  $.get("/engine/save/openSaveWindow",function(data,status){
       if("1"==data)
              {

          }
       });
}
		</script>
	</head>
	<body data-layout='{"type": "border", "resize": false, "hgap": 6}'>
	<div class="north">
		   <div class="nav">
                <div class="log">
                   ${gameTitle}</span>
                </div>
                           <ul class="nav-item">
                                                   <li><a href="/" style="color:#fff;text-decoration: none;">Return GameList</a></li>
                                                                              </ul>
                                                                               <ul class="info">
                                                                                          <li><a href="javascript:;" onClick="showSaveWindow()" style="color:#fff;text-decoration: none;">SaveList</a></li>
                                                                                           <li><a href="javascript:;" onClick="quickSaveGame()" style="color:#fff;text-decoration: none;">QuickSave</a></li>
                                                                                          <li><a href="javascript:;"  onClick="quickLoadGame()"  style="color:#fff;text-decoration: none;">QuickLoad</a></li>
                                                                                      </ul>
            </div>

		</div>
		<div class="center" >
<iframe id="html" style="border: medium none;"  src="/engine/html/engineHtmlPage" width="100%" height="100%"></iframe>
		</div>
		<div data-layout='{"type": "grid", "columns": 1, "resize": false}' class="west"  >
    <iframe name="user" id="user" src="/engine/user/engineUserPage" width="100%" height="100%"  style="border: medium none;" ></iframe>
		</div>
		<div class="east"  >
			<div class="panel" style="height:50%">
				<!--<div class="ui-state-default" style="padding:4px;">&nbsp;</div>-->
    <iframe id="console" src="/engine/console/engineConsolePage" width="100%" height="100%"  style="border: medium none;" ></iframe>

			</div>
			<div class="panel" style="height:50%">
				<div class="ui-state-default" style="padding:4px;"></div>
		<iframe id="action"  src="/engine/action/engineActionPage" width="100%" height="100%"  style="border: medium none;" ></iframe>
			</div>
	</div>
		<div class="south">${engineTitle} V${engineVersion} Powered By ${enginePowerBy}</div>
	</body>
</html>