
.header {
    height: 80px;
    background-color: #fff;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    z-index: 100;
    position: relative;
}
.header .container {
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dcdfe6;
}
.header h1 {
    margin: 0;
    float: left;
    font-size: 32px;
    font-weight: 400;
}
.header .nav {
    float: right;
    height: 100%;
    line-height: 80px;
    background: transparent;
    padding: 0;
    margin: 0;
}
.header .nav-item {
    margin: 0;
    float: left;
    list-style: none;
    position: relative;
    cursor: pointer;
}
.header .nav-item a {
    text-decoration: none;
    color: #1989fa;
    opacity: .5;
    display: block;
    padding: 0 22px;
}