
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="telephone=no, address=no" name="format-detection">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<title>loading</title>
<link href="/engine/lib/message/weui.min.css" rel="stylesheet">
<link href="/engine/lib/message/weui.plus.css?v=2" rel="stylesheet">
<script src="/engine/lib/jquery.min.js"></script>
</head>
<body>

	<div class="page msg_success js_show" style="margin-top:50px">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>

           <div class="weui-msg__text-area">

				 <h2 class="weui-msg__title">Loading now, please wait!</h2>
			 </div>

        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">


  <a id="href" href="javascript:;" class="weui-btn weui-btn_primary">wait time： <b id="wait">0</b></a>
<script type="text/javascript">
(function(){
var href = document.getElementById('href').href;
wait=0;
var interval = setInterval(function(){
	var time = parseInt( document.getElementById('wait').innerText);
	 document.getElementById('wait').innerText=time+1;
	try{
   $.getJSON("/engine/isNeedRefresh",function(data,status){
       if(data.maindescchanged)
        {
           clearInterval(interval);
           location.href="/engine/gameIndex";
        }
    });
    }catch{
    }
}, 1000);
})();
</script>


            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">

                <p class="weui-footer__text">${engineTitle} V${engineVersion}</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
