<table width="100%" border="1">
              <tr>
                <td>存档名称(不能包含特殊字符否则出错)：
                  <label>
                  <input type="text" name="saveFileName" id="saveFileName" value="$randomId" />
                  <input type="button" name="Submit" value="保存存档" onClick="saveGame()" />
                  &nbsp;&nbsp;&nbsp;
                  <input type="button" name="Submit" value="退回游戏界面" style="padding-left:10px;background-color: red;color: #fff;" onClick="closeSaveWindow()" />
                </label></td>
              </tr>
            </table>
            <table width="100%" height="123" border="1">
              <tr>
                <td width="35%" height="38">名称</td>
                <td width="35%">创建时间</td>
                <td width="65%">操作</td>
              </tr>
            #foreach($gsave in $gsaveList)
              <tr>
                <td >$gsave.fileName</td>
                <td>$gsave.fileTimeStr</td>
                <td>&nbsp;<a href="javascript:;"  onClick="loadGame('$gsave.fileName')"  style="text-decoration: none;">读取存档</a>
                &nbsp;<a href="javascript:;"  onClick="delGame('$gsave.fileName')"  style="padding-left:10px;text-decoration: none;">删除存档</a></td>
              </tr>

                #end
</table>