<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <script src="/vue/vue.min.js" type="text/javascript"></script>
    <link href="/elementUI/index.css" rel="stylesheet"/>
    <script src="/elementUI/index.js" type="text/javascript"></script>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <link href="/header.css" rel="stylesheet"/>

</head>
<body data-layout='{"type": "border", "resize": false, "hgap": 6}'>

<div id="app">
    <div  class="headerWrapper"><!----><header  class="header">
        <ul class="nav">
            <li class="nav-item">
                <el-button style="margin-left:15px" type="text" @click="quickSaveGame()">QuickSave</el-button>
               </li><li class="nav-item">
            <el-button style="margin-left:15px" type="text" @click="quickLoadGame()">QuickLoad</el-button>
            </li><li class="nav-item nav-item-theme">

            <el-button style="margin-left:15px" type="text" @click="openSaveWinow()">ToSave</el-button>
           </li><li class="nav-item nav-item-theme">

            <el-button style="margin-left:15px" type="text" @click="openLoadWinow()">SaveList</el-button>
            </li></ul></header></div>

    <el-container>
        <el-container>
            <el-main :style="{height:tableHeight,width:tableWidth,overflow:'hidden'}"><iframe id="html" style="border: medium none;"  src="/template/engineHtmlPage" width="100%" height="100%"></iframe></el-main>
            <el-aside width="350px" style="overflow:hidden">
                <el-tabs v-model="activeName">
                    <el-tab-pane label="GamePanel" name="first">

                        <div class="panel" style="height:50%">
                            <!--<div class="ui-state-default" style="padding:4px;">&nbsp;</div>-->
                            <iframe id="console" src="/template/engineConsolePage" width="100%"  :height="tableHeight3"  style="border: medium none;" ></iframe>

                        </div>
                        <div class="panel" style="height:50%">
                            <div class="ui-state-default" style="padding:4px;"></div>
                            <iframe id="action"  src="/template/engineActionPage" width="100%"  :height="tableHeight3"  style="border: medium none;" ></iframe>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Character" name="second">
                        <iframe name="user" id="user" src="/template/engineUserPage" width="99%" :height="tableHeight2"  style="border: medium none;" ></iframe>
                    </el-tab-pane>
                </el-tabs></el-aside>
        </el-container>



    </el-container>

    <el-dialog id="loadWindow" title="SaveList" :visible.sync="dialogLoadListVisible">
        <el-table :data="saveListData"  style="min-height: 300px" max-height="350">
            <el-table-column label="operate" ali>
                <template slot-scope="scope"  width="150">
                    <el-button
                            size="mini"
                            type="success"
                            @click="loadGame(scope.row.fileName)">Load</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="deleteSave(scope.row.fileName)">Delete</el-button>
                </template>
            </el-table-column>
            <el-table-column property="fileName" label="SaveName" width="200"></el-table-column>
            <el-table-column property="fileTimeStr" label="SaveTime" width="200"></el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="dialogLoadListVisible = false">Close</el-button>
      </span>
    </el-dialog>

    <el-dialog id="saveWindow" title="save" :visible.sync="dialogSaveVisible">
        <el-form >   <el-form-item label="SaveName">
            <el-input v-model="saveFileName"></el-input>
        </el-form-item>     </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogSaveVisible = false">Cancel</el-button>
    <el-button type="primary" @click="saveGame()">Save</el-button>
  </span>
    </el-dialog>

</div>

    <script>
let app = new Vue({

            el: '#app',
                mounted: function () {
				var that=this;
                window.onresize = () => {
                var self = this;
                    if (self.resizeFlag) {
                        clearTimeout(self.resizeFlag);
                    }
                    self.resizeFlag = setTimeout(() => {
					  that.setTableHeight();
                        self.resizeFlag = null;
                    }, 10);
                };
            },
            data: function () {
                return {
                isSaving:false,
                dialogLoadListVisible:false,
                dialogSaveVisible:false,
                saveFileName:"",
				tableHeight:"100px",
				tableHeight2:"100px",
				tableWidth:"100px",
				activeName:'first',
                saveListData:[]
			  }
            },
            created () {      this.setTableHeight();
			},
			methods: {
			loadDataList(){
            var that=this;
			    $.get("/gameSave/saveList",function(data,status){

           if(data.code==200)
           {
          that.saveListData= data.result;
           }else
           {

               that.$message({
          message: 'read error!',
          type: 'error'
        });
           }
       });
			},
			    openLoadWinow()
            {
            this.loadDataList();
                this.dialogLoadListVisible=true;
            },
            openSaveWinow()
            {
                this.saveFileName="";
                this.dialogSaveVisible=true;
            },
			            setTableHeight(){
                this.tableHeight=(document.documentElement.clientHeight-100)+"px";
                this.tableWidth=(document.documentElement.clientWidth-350)+"px";
                this.tableHeight2=(document.documentElement.clientHeight-180)+"px";
                this.tableHeight3=(document.documentElement.clientHeight-190)/2+"px";

                },
quickSaveGame()
{
var that=this;
    if(that.isSaving==false)
    {
       that.isSaving=true;
       $.get("/gameSave/quickSave",function(data,status){
              that.isSaving=false;
     if(data.code==200)
           {
            that.dialogSaveVisible=false;
               that.$message({
          message: 'save success!',
          type: 'success'
        });
           }else
           {
           that.$message({
          message: 'save error!',
          type: 'error'
        });
           }
       });
   }
},
quickLoadGame()
{
var that=this;
    if(that.isSaving==false)
    {
       that.isSaving=true;
       $.get("/gameSave/loadQuickSave",function(data,status){
          that.isSaving=false;
    if(data.code==200&&data.result=='1')
              {
               that.$message({
          message: 'load success!',
          type: 'success'
        });
          }else
            {
           that.$message({
          message: 'load error!',
          type: 'error'
        });
          }
       });
   }
},
saveGame()
{
var that=this;
    if(that.isSaving==false)
    {
       that.isSaving=true;
       var fileName=that.saveFileName;
       if(fileName=="")
       {
       fileName="NONAME";
       }
       $.get("/gameSave/gameSave?actionScript="+encodeURIComponent(fileName),function(data,status){
              that.isSaving=false;
     if(data.code==200)
           {
               that.$message({
          message: 'save success!',
          type: 'success'
        });
        that.dialogSaveVisible=false;
           }else
           {
   that.$message({
          message: 'save error!',
          type: 'error'
        });
           }
       });
   }
},
loadGame(fileName)
{
var that=this;
    if(that.isSaving==false)
    {
       that.isSaving=true;
       $.get("/gameSave/loadGameSave?actionScript="+encodeURIComponent(fileName),function(data,status){
          that.isSaving=false;
    if(data.code==200)
              {

               that.$message({
          message: 'load success!',
          type: 'success'
        });
        that.dialogLoadListVisible=false;
          }else
            {

            that.$message({
          message: 'load error!',
          type: 'error'
        });
          }
       });
   }
},
deleteSave(fileName)
{
var that=this;
    if(that.isSaving==false)
    {
       that.isSaving=true;
       $.get("/gameSave/deleteSave?actionScript="+encodeURIComponent(fileName),function(data,status){
          that.isSaving=false;
    if(data.code==200)
              {
               that.$message({
          message: 'delete success!',
          type: 'success'
        });
        that.loadDataList();
          }else
            {

               that.$message({
          message: 'delete error!',
          type: 'error'
        });
          }
       });
   }
}

			}
				});
</script>

</body>
</html>